body {
	background-color: rgba(255,40,0,0.8);
}

main {
	width: 940px;
}

h1, h2, h3, h4, h5, h6, label, p {
	color: rgba(0,0,0,0.8);
}

h1 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 25px; 
	padding-top: 20px;
}

.login {
	position: relative;
	position: absolute;
	top: 25%;
	left: 35%;
	font-family: sans-serif;
	background-color: #FFF;
	width: 360px;
	height: 310px;
}

form label{
	display: block;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
}

form input {
	display: block;
	margin: 5px 0;
	margin-left: 30px;
	padding: 5px 0;
	padding-right: 80px;
}

#senha {
	margin-bottom: 20px;
}

p {
	font-size: 15px;
	margin-left: 35px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.red {
	color: red;
	text-decoration: none;
}

.red:hover {
	cursor: pointer;
	color: #000;
}

#botao {
	background-color: #0080FF;
	color: #FFF;
	font-weight: bold;
	margin-left: 39%;
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-family: sans-serif;
	display: inline;
}

#botao:hover {
	background: #2E64FE;
	cursor: pointer;
}

a {
	text-decoration: none;
}

#usuario, #senha {
	border: 1px solid grey;
	border-radius: 3px;
}

#usuario:hover, #senha:hover {
	border-color: #000;
}
