main h1 {
    font-weight: cold;
    font-size: 30px;
}

main h2 {
    font-size: 18px;
}

hgroup {
    margin: 20px;
}

.conteudo {
    width: 600px;
    margin: 0 auto;
}

.canvas {
    margin: 20px 0;
}