body {
	background-color: #FF8000;
}

main {
	position: relative;
}

h1 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 25px; 
	padding-top: 20px;
}

.login {
	position: absolute;
	font-family: sans-serif;
	background-color: #FFF;
	margin: 0 auto;
	width: 320px;
	right: 400px;
	margin-top: 130px;
}

form label{
	display: block;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
}

form input {
	display: block;
	margin: 5px 0;
	margin-left: 30px;
	padding: 5px 0;
	padding-right: 80px;
}

p {
	margin-left: 35px;
	padding-top: 15px;
	padding-bottom: 40px;
}

.red {
	color: red;
	text-decoration: none;
}

.red:hover {
	cursor: pointer;
	color: #000;
}

#botao {
	background-color: #0080FF;
	color: #FFF;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 135px;
	padding: 8px 0;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	border-radius: 5px;
	font-family: sans-serif;
}

#botao:hover {
	background: #2E64FE;
	cursor: pointer;
}

#usuario, #senha {
	border: 1px solid grey;
	border-radius: 3px;
}

#usuario:hover, #senha:hover {
	border-color: #000;
}